/* palette */
/*
background: deep-champagne: #fbce9dff;
alternative background: laurel-green: #b1b695ff;
dividers: rose-ebony: #654c4fff;
buttons: star-command-blue: #aad6ee;
text: phthalo-green: #14281dff;
*/

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #14281dff;
  background: #fbce9dff
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b1b695ff;
  border-radius: 10px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #654c4fff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.login {
  position: absolute;
  top: 3%;
  right: 3%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 30%;
}

.container button {
  background: #aad6ee;
  border-radius: 5px;
}

.main button {
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
